{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'myapp:home' %}">Home</a></li>
            <li><a href="{% url 'myapp:mystory' %}">My Story</a></li>
            <li><a href="{% url 'myapp:team' %}">Our Team Members</a></li>
            <li><a href="{% url 'myapp:contact' %}">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>